/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
　個別
**************************/
/* カットイン */
div[open],
/* 背景 */
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorDefault.MuiPaper-elevation0+div,
/* 盤面 */
div[tabindex="0"]>div:nth-child(1),
/* キャラ */
.MuiButtonBase-root+div+div:not(.MuiPaper-root),
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded+div,
/* チャット */
.MuiDrawer-root.MuiDrawer-docked {
  display: none !important;
}

/**************************
　共通
**************************/
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
/* headerのみだとチャットのタブも消える */
header>.MuiToolbar-gutters,
/* 音量 */
div[tabindex="0"]>div:nth-child(3),
/* 拡大縮小 */
.MuiButtonBase-root+div,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* タイマー */
.MuiPaper-elevation5,
/* 新しいダイスを非表示 */
div[style="position: relative; width: 100%; height: 100%; overflow: hidden;"],
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}

/**************************
　吹き出し
**************************/
/* 全体の横幅 */
.MuiPaper-root {
  max-width: 960px;
}

/* タイトルの方 */
.MuiTypography-subtitle2,
.MuiTypography-body2 {
  font-size: 1.6rem;
}

.MuiToolbar-gutters {
  padding: 12px 24px;
}

/* ログの方 */
.MuiTypography-body1 {
  font-size: 2rem;
}

.MuiToolbar-root+div {
  padding: 0px 24px 16px;
  height: 160px;
}

/* アイコン */
.MuiPaper-root>img {
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
  border-radius: 50%;
  background: #F6F7F8;
  border: solid 6px #302833;
  object-fit: cover;
  object-position: top;
}

.MuiPaper-root>img[src=""] {
  display: none;
}