/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* カットイン */
.sc-tAExr,
/* 背景 */
.sc-ZOtfp,
/* 盤面 */
.sc-bGaVxB,
/* キャラ */
.sc-jKTccl,
/* チャット */
.MuiDrawer-root,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-ikjQzJ,
/* 拡大縮小 */
.sc-hZgfyJ,
/* 鉛筆ボタン */
.sc-dSuTWQ,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/* 盤面のサイズ */
.sc-kgUAyh {
  width: 100% !important;
}

/**************************
　吹き出し
**************************/
/* 全体の横幅 */
.MuiPaper-root {
  max-width: 960px;
}

/* タイトルの方 */
.MuiTypography-subtitle2,
.MuiTypography-body2 {
  font-size: 1.6rem;
}

.MuiToolbar-gutters {
  padding: 12px 24px;
}

/* ログの方 */
.MuiTypography-body1 {
  font-size: 2rem;
}

.MuiToolbar-root+div {
  padding: 0px 24px 16px;
  height: 160px;
}

/* アイコン */
.MuiPaper-root>img {
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
  border-radius: 50%;
  background: #F6F7F8;
  border: solid 6px #302833;
  object-fit: cover;
  object-position: top;
}

.MuiPaper-root>img[src=""] {
  display: none;
}