/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
　個別
**************************/
/* バックドロップ */
.MuiBackdrop-root,
/* カットイン */
div[open],
/* 背景 */
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorDefault.MuiPaper-elevation0+div,
/* 盤面 */
div[tabindex="0"]>div:nth-child(1),
/*
  キャラ
  6: 初期位置
  7: タイマー or 吹き出し
  8: タイマー and 吹き出し
  ※拡大縮小が消える不都合あり
*/
[tabindex="0"]>div:nth-child(6):not(.MuiPaper-root),
[tabindex="0"]>div:nth-child(7):not(.MuiPaper-root),
[tabindex="0"]>div:nth-child(8):not(.MuiPaper-root),
/* チャット */
.MuiDrawer-root.MuiDrawer-docked,
/* 吹き出し */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {
  display: none !important;
}

/**************************
　共通
**************************/
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
/* headerのみだとチャットのタブも消える */
header>.MuiToolbar-gutters,
/* 音量 */
div[tabindex="0"]>div:nth-child(3),
/* 拡大縮小 */
button.MuiButtonBase-root:not(.MuiTab-root, .MuiIconButton-sizeLarge),
button.MuiButtonBase-root+span,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* タイマー */
.MuiPaper-elevation5,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/**************************
　盤面
**************************/
/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}

/* サイコロ見える調整 */
[tabindex="0"]>div:nth-child(8):last-child {
    display: block !important;
}