/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
　個別
**************************/
/*
  キャラ
  6: 初期位置
  7: タイマー or 吹き出し
  8: タイマー and 吹き出し
  ※拡大縮小が消える不都合あり
*/
[tabindex="0"]>div:nth-child(6):not(.MuiPaper-root),
[tabindex="0"]>div:nth-child(7):not(.MuiPaper-root),
[tabindex="0"]>div:nth-child(8):not(.MuiPaper-root),
/* チャット */
.MuiDrawer-root.MuiDrawer-docked,
/* 吹き出し */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {
  display: none !important;
}

/**************************
　共通
**************************/
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
/* headerのみだとチャットのタブも消える */
header>.MuiToolbar-gutters,
/* 音量 */
div[tabindex="0"]>div:nth-child(3),
/* 拡大縮小 */
button.MuiButtonBase-root:not(.MuiTab-root),
button.MuiButtonBase-root+span,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* 新しいダイスを非表示 */
div[style="position: relative; width: 100%; height: 100%; overflow: hidden;"],
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/**************************
　盤面
**************************/
/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}

/* 盤面の枠線 */
div[style^="touch-action"]>div[style^="transform: translate"]>div[style^="transform: scale"]>div:first-child {
  outline: unset !important;
}

/* ポップアップ */
[role="tooltip"] * {
  font-size: 21px !important;
  max-width: 1280px;
  min-width: 720px;
  margin: 24px auto;
}