/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
　個別
**************************/
/* カットイン */
div[open],
/* 背景 */
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorDefault.MuiPaper-elevation0+div,
/* 盤面 */
div[tabindex="0"]>div:nth-child(1),
/* チャット */
.MuiDrawer-root.MuiDrawer-docked,
/* 吹き出し */
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  display: none !important;
}

/**************************
　共通
**************************/
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
/* headerのみだとチャットのタブも消える */
header>.MuiToolbar-gutters,
/* 音量 */
div[tabindex="0"]>div:nth-child(3),
/* 拡大縮小 */
.MuiButtonBase-root+div,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* タイマー */
.MuiPaper-elevation5,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/**************************
　特定のキャラだけ表示（1からスタート）
.MuiButtonBase-root+div+div>div:nth-child(1),
.MuiPaper-rounded+div>div:nth-child(1) {
  display: flex;
}
**************************/

/**************************
　横並び（200の倍数）
.MuiButtonBase-root+div+div>div>div>div,
.MuiPaper-rounded+div>div>div>div {
  max-width: 600px;
}
**************************/

/**************************
　ステータス
**************************/
/* 上下の調整 */
.MuiButtonBase-root+div+div,
.MuiPaper-rounded+div {
  top: 0;
  padding: 0;
}

/* キャラアイコンを削除 */
.MuiBadge-root {
  display: none;
}

/* 全て非表示にする */
.MuiButtonBase-root+div+div>div,
.MuiPaper-rounded+div>div {
  display: none;
}

/* サイズ調整 */
.MuiTypography-body2 {
  font-size: 2rem;
}

.MuiButtonBase-root+div+div>div>div>div>div,
.MuiButtonBase-root+div+div>div>div>div>div>div:nth-child(2)>div,
.MuiPaper-rounded+div>div>div>div>div,
.MuiPaper-rounded+div>div>div>div>div>div:nth-child(2)>div {
  height: 48px;
}

/* margin分短くする */
.MuiButtonBase-root+div+div>div>div>div>div,
.MuiPaper-rounded+div>div>div>div>div {
  width: 196px;
}

.MuiTypography-body2 {
  display: flex;
  align-items: center;
  padding: 10px;
}