/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* カットイン */
.sc-gJwTLC,
/* 背景 */
.sc-TRNrF,
/* 盤面 */
.sc-djvmMF,
/* チャット */
.MuiDrawer-root,
/* 吹き出し */
.sc-djUGQo,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-ikjQzJ,
/* 拡大縮小 */
.sc-hZgfyJ,
/* 鉛筆ボタン */
.sc-dSuTWQ,
/* 監視モード */
.MuiSnackbar-root,
/* タイマー */
.sc-hAsxaJ,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/**************************
　ステータス
**************************/
/* 上下の調整 */
.sc-cwpsFg {
  top: 0;
  padding: 0;
}

/* キャラアイコンを削除 */
.MuiBadge-root {
  display: none;
}

/* 全て非表示にする */
.sc-hsOonA {
  display: none;
}

/* サイズ調整 */
.MuiTypography-body2 {
  font-size: 2rem;
}

.sc-hsOonA>div>div>div,
.sc-hsOonA>div>div>div>div:nth-child(2)>div {
  height: 48px;
}

.sc-hsOonA>div>div>div {
  width: 200px;
}

.MuiTypography-body2 {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* 特定のキャラだけ表示（1からスタート） */
/*
.sc-hsOonA:nth-child(1) {
  display: flex;
}
*/
/* 横並び（200の倍数） */
/*
.sc-fHsOPI {
  max-width: 600px;
}
*/