/* 初期値 */
:root {
    --avatar-height: 150px;
    --avatar-width: 150px;
    --avatar-background: rgba(0, 0, 0, 0.64);
    --avatar-border-size: 3px;
    --avatar-border-style: solid;
    --avatar-border-color: rgb(245, 245, 245);
    --avatar-border-radius: 10px;
    --avatar-margin: 0px;

    --badge-height: 40px;
    --badge-width: 40px;
    --badge-background: rgb(245, 245, 245);
    --badge-font-size: 1.5rem;
    --badge-font-color: rgb(66, 66, 66);

    /*
    --status-label-width: auto;
    --status-value-width: auto;
    */
    --status-column: 1;
    --status-height: 50px;
    --status-width: calc( var(--status-label-width, 160px) + var(--status-value-width, 80px) + 10px * 4 );
    --status-background: var(--background-color, rgb(245, 245, 245));
    --status-font-size: 2rem;
    --status-font-color: rgb(66, 66, 66);
    --status-font-secondary-color: var(--font-color-fail, rgb(154, 0, 54));
    --status-font-border-color: rgb(245, 245, 245);
    --status-border-width: var(--border-width, 0px);
    --status-border-style: solid;
    --status-border-color: var(--border-color, rgb(245, 245, 245));
    --status-border-image: var(--border-image, url());
    --status-border-radius: var(--border-radius, 0);
    --status-border-shadow: var(--border-shadow, 0);
}

/* アバターを消す 
:root {
    --avatar-padding: 0;
    --avatar-display: none;
}
*/

/* 分母を消す（0だけ消すのは不可能）
:root {
    --status-denom-font-size: 0;
}
*/

/* OBS */
body.transparent {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

#root {
    padding-top: var(--avatar-padding, 20px);
}

/* アバター大枠 */
.MuiBadge-root {
    display: var(--avatar-display, block);
    margin-right: var(--avatar-margin);
}

/* アバター画像 */
.MuiAvatar-root {
    height: var(--avatar-height);
    width: var(--avatar-width);
    background: var(--avatar-background);
    border: var(--avatar-border-size) var(--avatar-border-style) var(--avatar-border-color);
    border-radius: var(--avatar-border-radius);
    align-items: start;
}

/* バッジ */
.MuiBadge-badge {
    height: var(--badge-height);
    width: var(--badge-width);
    border-radius: 50%;
    font-size: var(--badge-font-size);
    color: var(--badge-font-color) !important;
    background: var(--badge-background) !important;
}


/* ステータス 大枠 */
[variant="bar"] {
    max-width: calc((var(--status-width) + var(--status-border-width)*2 + 8px) * var(--status-column));
}

/* ステータス毎 大枠 */
[variant="bar"]>div {
    height: var(--status-height);
    width: var(--status-width);
    border: var(--status-border-width) var(--status-border-style) var(--status-border-color);
    border-image: var(--status-border-image);
    border-radius: var(--status-border-radius);
    box-shadow: var(--status-border-shadow);
    overflow: hidden;
}

/* ステータス 背景 大枠 */
[variant="bar"]>div>div {
    height: var(--status-height);
    width: var(--status-width);
}

/* ステータス 背景 */
[variant="bar"]>div>div:nth-child(2)>div {
    height: var(--status-height);
    background: var(--status-background);
}

/* テキスト */
.MuiTypography-body2 {
    font-size: var(--status-font-size);
    color: var(--status-font-color);
    text-shadow:
        var(--status-font-border-color) 1px 1px 0px,
        var(--status-font-border-color) -1px -1px 0px,
        var(--status-font-border-color) -1px 1px 0px,
        var(--status-font-border-color) 1px -1px 0px,
        var(--status-font-border-color) 0px 1px 0px,
        var(--status-font-border-color) 0px -1px 0px,
        var(--status-font-border-color) -1px 0px 0px,
        var(--status-font-border-color) 1px 0px 0px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: var(--status-label-width);
    flex-shrink: 1;
}

/* 数値全体 */
.MuiTypography-body2+.MuiTypography-body2 {
    font-size: var(--status-denom-font-size, var(--status-font-size));
    width: var(--status-value-width);
}

/* 分子 */
.MuiTypography-body2+.MuiTypography-body2>span {
    margin-left: auto;
    font-size: var(--status-font-size);
}

/* 赤文字 */
[color="secondary"] {
    color: var(--status-font-secondary-color)
}