:root {
  --background-color: rgb(0, 0, 0);
  --background-image: url();
  --background-padding: 8px 8px 8px 8px;
  --border-color: rgb(255, 255, 255);
  --border-image: url();
  --border-width: 2px;
  --border-radius: 0px;
  --font-color: rgb(255, 255, 255);
  --font-color-fail: rgb(245, 0, 87);
  --font-color-success: rgb(33, 150, 243);
  --font-size: 1.5rem;
  --font-shadow: 0;
  --image-radius: 0%;
  --width: 500px;
  --line-clamp: 5;
}

/**************************
　各種調整
**************************/
/* OBS */
body {
  background-color: rgb(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* カットイン */
.bboqSg,
/* 背景 */
.iOmLqx,
/* 盤面 */
.jyZRYv,
/* キャラ */
.jgDXBK,
/* 吹き出し */
.hyACfo,
/* 入力欄 */
.MuiTypography-noWrap,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
.MuiToolbar-gutters,
/* 音量 */
.fcJagU,
/* 拡大縮小 */
.hzPuOC,
/* 鉛筆ボタン */
.iiSeFJ,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/**************************
　デザイン
**************************/
.qoQGQ>.MuiPaper-root {
  width: 100%;
}

hr {
  display: none;
}

.MuiDrawer-paperAnchorDockedRight {
  border: none;
}

.MuiListItem-root {
  padding: var(--background-padding);
  background: var(--background-color);
  background-image: var(--background-image);
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  border-image: var(--border-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  align-items: center;
}

.MuiListItemAvatar-alignItemsFlexStart {
  margin: 0px;
}

.bhhAF {
  background: transparent;
  border-radius: var(--image-radius);
}

.MuiPaper-root {
  background-color: transparent;
}

.MuiTypography-body2 {
  font-size: var(--font-size)
}

.jAnegm>div:nth-child(1)>div>div {
  height: 500px !important;
}

.jAnegm>div:nth-child(1)>div>div>div {
  display: none;
  height: auto !important;
  min-height: auto !important;
  max-height: 200px !important;
  width: var(--width) !important;
  position: static !important;
  flex-shrink: 0;
  margin: 10px 10px 10px;
}

.MuiListItemText-root {
  overflow: hidden;
}

p.MuiTypography-root {
  color: var(--font-color);
  text-shadow: var(--font-shadow);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
}

.MuiTypography-colorPrimary {
  color: var(--font-color-success);
}

.MuiTypography-colorSecondary {
  color: var(--font-color-fail);
}