.MuiListItem-gutters {
  animation-name: fadeTopToBottom;
  animation-duration: 2s;
}

@keyframes fadeTopToBottom {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}