@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-obs.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-scrollbar.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/board.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/boardBackground.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/chat.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/cutIn.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/edit.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/header.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/modal.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/monitoring.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/newDice.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/scaling.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/status.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/timer.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/volume.css");

:root {
  /* ボックス */
  --balloon-background-color: var(--background-color, rgb(0, 0, 0));
  --balloon-background-padding: var(--background-padding, 8px 8px 8px 8px);
  --balloon-border-color: var(--border-color, rgb(0, 0, 0, 0));
  --balloon-border-image: var(--border-image, url());
  --balloon-border-width: var(--border-width, 2px);
  --balloon-border-radius: var(--border-radius, 10px);
  --balloon-border-shadow: var(--border-shadow, 0);
  --balloon-width: 960px;
  /* テキスト */
  --font-size-name: 1.6rem;
  --font-color-name: var(--font-color, rgb(245, 245, 245));
  --font-color-name-shadow: var(--font-color-shadow, 0);
  --font-size-dice: calc(var(--font-size, 1.6rem) + .1rem);
  --font-color-dice: rgba(255, 255, 255, 0.7);
  --font-color-dice-shadow: 0;
  --font-color-fail: rgb(245, 0, 87);
  --font-color-fail-shadow: 0;
  --font-color-success: rgb(33, 150, 243);
  --font-color-success-shadow: 0;
  --font-size-main: calc(var(--font-size, 1.5rem) + .5rem);
  --font-color-main: var(--font-color, rgb(245, 245, 245));
  --font-color-main-shadow: var(--font-color-shadow, 0);
  /* イメージ */
  --image-background: var(--background-color, rgb(255, 255, 255));
  --image-width: 120px;
  --image-height: 120px;
  --image-border-color: var(--border-color, rgb(0, 0, 0));
  --image-border-width: var(--border-width, 6px);
  --image-border-radius: 50%;
  --image-margin: .5rem;
  /* 非表示設定 'block' or 'none' */
  --image-display: block;
  --dice-display: block;
  /* 非表示設定 'inline-flex' or 'none' */
  --skip-display: inline-flex;
  --close-display: inline-flex;
}

/* ココフォリア デフォルトの表示 */
/*
:root {
  --image-background: transparent;
  --image-width: 240px;
  --image-height: auto;
  --image-border-width: 0;
  --image-border-radius: 0;
  --image-margin: 0;
}
*/

/* タイトルの方 */
.MuiTypography-subtitle2,
.MuiTypography-body2 {
  font-size: 1.6rem;
}

.MuiToolbar-gutters {
  padding: 12px 24px;
}

/* ログの方 */
.MuiTypography-body1 {
  font-size: 2rem;
}

.MuiToolbar-root+div {
  padding: 0px 24px 16px;
  height: 160px;
}

/* アイコン */
.MuiPaper-root>img {
  display: var(--image-display);
  width: var(--image-width);
  height: var(--image-height);
  margin-bottom: var(--image-margin);
  background: var(--image-background);
  border: solid var(--image-border-width) var(--image-border-color);
  border-radius: var(--image-border-radius);
  object-fit: cover;
  object-position: top;
}

.MuiPaper-root>img[src=""] {
  display: none;
}

/* カスタム用 */
div[tabindex="0"]>.MuiPaper-root {
  background-color: transparent;
  max-width: var(--balloon-width);
  left: 5px;
  right: 5px;
  bottom: 20px;
  border-radius: var(--balloon-border-radius);
}

.MuiPaper-root>.MuiPaper-root {
  padding: var(--balloon-background-padding);
  background: var(--balloon-background-color);
  border: solid var(--balloon-border-width) var(--balloon-border-color);
  border-radius: var(--balloon-border-radius);
  border-image: var(--balloon-border-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.MuiPaper-elevation1 {
  box-shadow: var(--balloon-border-shadow);
}

/* 名前 */
.MuiTypography-subtitle2 {
  font-size: var(--font-size-name);
  color: var(--font-color-name);
  text-shadow: var(--font-color-name-shadow);
}

/* ダイス結果 */
.MuiTypography-body2 {
  font-size: var(--font-size-dice);
  color: var(--font-color-dice);
  text-shadow: var(--font-color-dice-shadow);
}

/* ダイス結果（成功） */
.css-1l6qhgm {
  color: var(--font-color-success);
  text-shadow: var(--font-color-success-shadow);
}

/* ダイス結果（失敗） */
.css-1j13mke {
  color: var(--font-color-fail);
  text-shadow: var(--font-color-fail-shadow);
}

/* 本文 */
.MuiTypography-body1 {
  font-size: var(--font-size-main);
  color: var(--font-color-main);
  text-shadow: var(--font-color-main-shadow);
}

/* ダイス */
.MuiPaper-root>.MuiPaper-root>div:nth-child(1) {
  display: var(--dice-display);
  margin-bottom: var(--image-margin);
}

/* スキップボタン */
[aria-label="スキップ"] {
  display: var(--skip-display);
}

/* 閉じるボタン */
[aria-label="閉じる"] {
  display: var(--close-display);
}